.modalOverlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.modalPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    min-height: 100px;
    background: #fff;
    opacity: 1;
    margin: auto;
    top: 30vh;
    border-radius: 10px;
    padding: 4px;
    align-items: center;
}

.modalPanel.wide {
    width: 800px;
}

.modalHeader {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.modalButton {
    background-color: #a6a6a6;
    border: solid 1px #9392a1;
    color: #000;
    margin: 4px;
    cursor: pointer;
}

.modalButton:disabled {
    cursor: not-allowed;
    background-color: #a6a6a6;
    border: solid 1px #9392a1;
    color: #585858;
}

.modalButtonYes {
    background-color: rgb(118, 251, 118);
    border: solid 1px rgb(70, 172, 70);
    color: #000;
    margin: 4px;
    cursor: pointer;
}

.modalButtonNo {
    background-color: rgb(252, 99, 99);
    border: solid 1px rgb(151, 54, 54);
    color: #000;
    margin: 4px;
    cursor: pointer;
}

.modalBaseGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
    row-gap: 8px;
    column-gap: 4px;
    width: 100%;
    justify-items: start;
}

.modalGridButton {
    width: 100%;
}

.modalText {
    text-align: justify;
    padding: 8px;
}

.modalTable {
    gap: 0;
    width: 100%;
    margin: 12px 0px;
    border-collapse: collapse;
}

.modalTable td {
    border: 1px solid #e3e3e3;
    padding: 2px;
}

.modalTable th {
    font-weight: 700;
    border: 1px solid #e3e3e3;
}

.modalSelect {
    width: 80%;
    margin-top: 8px;
}

.goToTheLeft {
    align-self: flex-start;
    cursor: wait;
}

.sorOptionButton {
    height: 24px;
    width: 80%;
    background-color: #e0e1eb;
    cursor: pointer;
}

.sorOptionButton:hover {
    background-color: #ced0e0;
}

.sorOptionButton:disabled {
    color: #6f6f6f;
    background-color: #e3e3e3;
    cursor: no-allowed;
}

.redText {
    color: #f00;
}

.marginBottom {
    margin-bottom: 8px;
}