.sidebarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right: solid 1px #c8cae7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
    font-size: 0.9rem;
}

.sidebarBoolContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: solid 1px #000;
}

.sidebarBool {
    cursor: pointer;
    border-radius: 999px;
    height: 16px;
    width: 16px;
    background-color: #f00;
}

.sidebarBoolActive {
    cursor: pointer;
    border-radius: 999px;
    height: 16px;
    width: 16px;
    background-color: #0f0;
}

.sidebarStandardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2px;
    padding-bottom: 4px;
    border-bottom: solid 1px #000;
}

.sidebarStandardButton {
    background-color: #bab9c5;
    border: solid 1px #9392a1;
    color: #000;
    margin: 2px;
    cursor: pointer;
    width: 24px;
}